.box{
  width: 18px;
  height: 18px;
  display: inline-block;
}
#box1{
  background-color: purple;
  margin: 2px;
}
#box2{
  background-color: yellow;
  margin: 2px;
}
#box3{
  background-color: orange;
  margin: 2px;
}
#box4{
  background-color: lightgreen;
  margin: 2px;
}
